openapi: 3.0.0
info:
  title: AEOLUsrs API
  description: Documentation of the A curated and standardized adverse drug event
    resource to accelerate drug safety research (AEOLUS) web query services. Learn
    more about the underlying dataset [HERE](https://www.nature.com/articles/sdata201626)
  termsOfService: http://tsing.cm/terms/
  contact:
    name: Juan M. Banda
    email: jmbanda@stanford.edu
    x-role: responsible developer
    x-id: http://orcid.org/0000-0001-8499-824X
  version: 1.0.0
  x-maturity: development
  x-implementationLanguage: PHP
externalDocs:
  description: Find more info here
  url: http://ec2-54-186-230-27.us-west-2.compute.amazonaws.com:8080/swagger-ui.html
servers:
- url: http://ec2-54-186-230-27.us-west-2.compute.amazonaws.com:8080/{basePath}
  description: Development server
  variables:
    basePath:
      default: v3
    port:
      default: "8080"
      enum:
      - "8080"
  x-location: California, USA
tags:
- name: Adverse Drug Reaction Reporting Systems
  x-id: http://purl.bioontology.org/ontology/MESH/D016907
paths:
  /contingencyTableCodes:
    get:
      tags:
      - contingencyTable
      summary: Uses drug and outcome codes in RxNorm and SNOMEDCT respectively to
        search AEOLUS and produce the corresponding contingency table.
      description: Makes drug/outcome coded query and returns two by two contingency
        table.
      operationId: contingencyTableCodes
      parameters:
      - name: drugCode
        in: query
        description: RxNorm drug code for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://purl.bioontology.org/ontology/RXNORM/
      - name: outcomeCode
        in: query
        description: SNOMEDCT outcome code for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://identifiers.org/snomedct
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    contingencyTable:
                      type: object
                      properties:
                        a:
                          type: integer
                        b:
                          type: integer
                        c:
                          type: integer
                        d:
                          type: integer
          x-responseSchema: http://www.w3.org/ns/anno.jsonld
          x-JSONLDContext: http://www.w3.org/ns/anno.jsonld
      x-accessRestriction: none
  /contingencyTableNames:
    get:
      tags:
      - contingencyTable
      summary: Uses drug and outcome names in RxNorm and SNOMEDCT respectively to
        search AEOLUS and produce the corresponding contingency table.
      description: Makes drug/outcome coded query and returns two by two contingency
        table.
      operationId: contingencyTableNames
      parameters:
      - name: drugName
        in: query
        description: RxNorm-standard drug name for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://purl.bioontology.org/ontology/RXNORM/
      - name: outcomeName
        in: query
        description: SNOMEDCT-standard outcome name for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://identifiers.org/snomedct
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    contingencyTable:
                      type: object
                      properties:
                        a:
                          type: integer
                        b:
                          type: integer
                        c:
                          type: integer
                        d:
                          type: integer
          x-responseSchema: http://www.w3.org/ns/anno.jsonld
          x-JSONLDContext: http://www.w3.org/ns/anno.jsonld
      x-accessRestriction: none
  /PPRCodes:
    get:
      tags:
      - proportionalReportingRatio
      summary: Uses drug and outcome codes in RxNorm and SNOMEDCT respectively to
        search AEOLUS and return the PPR, 95% confidence intervals and case count.
      description: Returns the Proportional Reporting Ratio (PPR) for the drug/outcome
        coded query as well as the lower and upper 95% confidence intervals and the
        case count. Calculations are made following [Gavali, D. K., Kulkarni, K. S.,
        Kumar, A. & Chakraborty, B. S. Therapeutic class-specific signal detection
        of bradycardia associated with propranolol hydrochloride. Indian Journal of
        Pharmacology 41, 162–166 (2009).](http://www.ijp-online.com/text.asp?2009/41/4/162/56068)
      operationId: pprCodes
      parameters:
      - name: drugCode
        in: query
        description: RxNorm drug code for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://purl.bioontology.org/ontology/RXNORM/
      - name: outcomeCode
        in: query
        description: SNOMEDCT outcome code for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://identifiers.org/snomedct
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    pprStatistics:
                      type: object
                      properties:
                        ppr:
                          type: string
                          format: float
                        casecount:
                          type: integer
                        upperCI:
                          type: string
                          format: float
                        lowerCI:
                          type: string
                          format: float
          x-responseSchema: http://www.w3.org/ns/anno.jsonld
          x-JSONLDContext: http://www.w3.org/ns/anno.jsonld
      x-accessRestriction: none
  /RORCodes:
    get:
      tags:
      - reportingOddsRatio
      summary: Uses drug and outcome codes in RxNorm and SNOMEDCT respectively to
        search AEOLUS and return the ROR, 95% confidence intervals and case count.
      description: Returns the Reporting Odds Ratio (ROR) for the drug/outcome coded
        query as well as the lower and upper 95% confidence intervals and the case
        count.Calculations are made following [Gavali, D. K., Kulkarni, K. S., Kumar,
        A. & Chakraborty, B. S. Therapeutic class-specific signal detection of bradycardia
        associated with propranolol hydrochloride. Indian Journal of Pharmacology
        41, 162–166 (2009).](http://www.ijp-online.com/text.asp?2009/41/4/162/56068)
      operationId: rorCodes
      parameters:
      - name: drugCode
        in: query
        description: RxNorm drug code for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://purl.bioontology.org/ontology/RXNORM/
      - name: outcomeCode
        in: query
        description: SNOMEDCT outcome code for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://identifiers.org/snomedct
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    pprStatistics:
                      type: object
                      properties:
                        ror:
                          type: string
                          format: float
                        casecount:
                          type: integer
                        upperCI:
                          type: string
                          format: float
                        lowerCI:
                          type: string
                          format: float
          x-responseSchema: http://www.w3.org/ns/anno.jsonld
          x-JSONLDContext: http://www.w3.org/ns/anno.jsonld
      x-accessRestriction: none
  /PPRNames:
    get:
      tags:
      - proportionalReportingRatio
      summary: Uses drug and outcome names in RxNorm and SNOMEDCT respectively to
        search AEOLUS and return the PPR, 95% confidence intervals and case count.
      description: Returns the Proportional Reporting Ratio (PPR) for the drug/outcome
        named query as well as the lower and upper 95% confidence intervals and the
        case count. Calculations are made following [Gavali, D. K., Kulkarni, K. S.,
        Kumar, A. & Chakraborty, B. S. Therapeutic class-specific signal detection
        of bradycardia associated with propranolol hydrochloride. Indian Journal of
        Pharmacology 41, 162–166 (2009).](http://www.ijp-online.com/text.asp?2009/41/4/162/56068)
      operationId: pprNames
      parameters:
      - name: drugName
        in: query
        description: RxNorm drug name for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://purl.bioontology.org/ontology/RXNORM/
      - name: outcomeName
        in: query
        description: SNOMEDCT outcome name for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://identifiers.org/snomedct
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    pprStatistics:
                      type: object
                      properties:
                        ppr:
                          type: string
                          format: float
                        casecount:
                          type: integer
                        upperCI:
                          type: string
                          format: float
                        lowerCI:
                          type: string
                          format: float
          x-responseSchema: http://www.w3.org/ns/anno.jsonld
          x-JSONLDContext: http://www.w3.org/ns/anno.jsonld
      x-accessRestriction: none
  /RORNames:
    get:
      tags:
      - reportingOddsRatio
      summary: Uses drug and outcome names in RxNorm and SNOMEDCT respectively to
        search AEOLUS and return the ROR, 95% confidence intervals and case count.
      description: Returns the Reporting Odds Ratio (ROR) for the drug/outcome named
        query as well as the lower and upper 95% confidence intervals and the case
        count.Calculations are made following [Gavali, D. K., Kulkarni, K. S., Kumar,
        A. & Chakraborty, B. S. Therapeutic class-specific signal detection of bradycardia
        associated with propranolol hydrochloride. Indian Journal of Pharmacology
        41, 162–166 (2009).](http://www.ijp-online.com/text.asp?2009/41/4/162/56068)
      operationId: rorNames
      parameters:
      - name: drugName
        in: query
        description: RxNorm drug name for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://purl.bioontology.org/ontology/RXNORM/
      - name: outcomeName
        in: query
        description: SNOMEDCT outcome name for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://identifiers.org/snomedct
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    pprStatistics:
                      type: object
                      properties:
                        ror:
                          type: string
                          format: float
                        casecount:
                          type: integer
                        upperCI:
                          type: string
                          format: float
                        lowerCI:
                          type: string
                          format: float
          x-responseSchema: http://www.w3.org/ns/anno.jsonld
          x-JSONLDContext: http://www.w3.org/ns/anno.jsonld
      x-accessRestriction: none
  /contingencyTableDateCodes:
    get:
      tags:
      - contingencyTable
      summary: Uses drug and outcome codes in RxNorm and SNOMEDCT along with fda report
        date respectively to search AEOLUS and produce the corresponding contingency
        table.
      description: Makes drug/outcome coded query with date range and returns two
        by two contingency table.
      operationId: contingencyTableDateCodes
      parameters:
      - name: drugCode
        in: query
        description: RxNorm drug code for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://purl.bioontology.org/ontology/RXNORM/
      - name: outcomeCode
        in: query
        description: SNOMEDCT outcome code for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://identifiers.org/snomedct
      - name: startDate
        in: query
        description: Start date for range search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - date
      - name: endDate
        in: query
        description: End date for range search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - date
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    contingencyTable:
                      type: object
                      properties:
                        a:
                          type: integer
                        b:
                          type: integer
                        c:
                          type: integer
                        d:
                          type: integer
          x-responseSchema: http://www.w3.org/ns/anno.jsonld
          x-JSONLDContext: http://www.w3.org/ns/anno.jsonld
      x-accessRestriction: none
  /contingencyTableDateNames:
    get:
      tags:
      - contingencyTable
      summary: Uses drug and outcome names in RxNorm and SNOMEDCT along with fda report
        date respectively to search AEOLUS and produce the corresponding contingency
        table.
      description: Makes drug/outcome coded query with date range and returns two
        by two contingency table.
      operationId: contingencyTableDateNames
      parameters:
      - name: drugName
        in: query
        description: RxNorm drug name for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://purl.bioontology.org/ontology/RXNORM/
      - name: outcomeName
        in: query
        description: SNOMEDCT outcome name for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://identifiers.org/snomedct
      - name: startDate
        in: query
        description: Start date for range search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - date
      - name: endDate
        in: query
        description: End date for range search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - date
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    contingencyTable:
                      type: object
                      properties:
                        a:
                          type: integer
                        b:
                          type: integer
                        c:
                          type: integer
                        d:
                          type: integer
          x-responseSchema: http://www.w3.org/ns/anno.jsonld
          x-JSONLDContext: http://www.w3.org/ns/anno.jsonld
      x-accessRestriction: none
  /PPRDateCodes:
    get:
      tags:
      - proportionalReportingRatio
      summary: Uses drug and outcome codes in RxNorm and SNOMEDCT respectively and
        start and end date to search AEOLUS and return the PPR, 95% confidence intervals
        and case count within the specified date range.
      description: Returns the Proportional Reporting Ratio (PPR) for the drug/outcome
        coded query as well as the lower and upper 95% confidence intervals and the
        case count. Calculations are made following [Gavali, D. K., Kulkarni, K. S.,
        Kumar, A. & Chakraborty, B. S. Therapeutic class-specific signal detection
        of bradycardia associated with propranolol hydrochloride. Indian Journal of
        Pharmacology 41, 162–166 (2009).](http://www.ijp-online.com/text.asp?2009/41/4/162/56068)
      operationId: pprDateCodes
      parameters:
      - name: drugCode
        in: query
        description: RxNorm drug code for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://purl.bioontology.org/ontology/RXNORM/
      - name: outcomeCode
        in: query
        description: SNOMEDCT outcome code for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://identifiers.org/snomedct
      - name: startDate
        in: query
        description: Start date for range search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - date
      - name: endDate
        in: query
        description: End date for range search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - date
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    pprStatistics:
                      type: object
                      properties:
                        ppr:
                          type: string
                          format: float
                        casecount:
                          type: integer
                        upperCI:
                          type: string
                          format: float
                        lowerCI:
                          type: string
                          format: float
          x-responseSchema: http://www.w3.org/ns/anno.jsonld
          x-JSONLDContext: http://www.w3.org/ns/anno.jsonld
      x-accessRestriction: none
  /PPRDateNames:
    get:
      tags:
      - proportionalReportingRatio
      summary: Uses drug and outcome names in RxNorm and SNOMEDCT respectively and
        start and end dates to search AEOLUS and return the PPR, 95% confidence intervals
        and case count within the specified date range.
      description: Returns the Proportional Reporting Ratio (PPR) for the drug/outcome
        named query as well as the lower and upper 95% confidence intervals and the
        case count. Calculations are made following [Gavali, D. K., Kulkarni, K. S.,
        Kumar, A. & Chakraborty, B. S. Therapeutic class-specific signal detection
        of bradycardia associated with propranolol hydrochloride. Indian Journal of
        Pharmacology 41, 162–166 (2009).](http://www.ijp-online.com/text.asp?2009/41/4/162/56068)
      operationId: pprDateNames
      parameters:
      - name: drugName
        in: query
        description: RxNorm drug name for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://purl.bioontology.org/ontology/RXNORM/
      - name: outcomeName
        in: query
        description: SNOMEDCT outcome name for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://identifiers.org/snomedct
      - name: startDate
        in: query
        description: Start date for range search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - date
      - name: endDate
        in: query
        description: End date for range search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - date
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    pprStatistics:
                      type: object
                      properties:
                        ppr:
                          type: string
                          format: float
                        casecount:
                          type: integer
                        upperCI:
                          type: string
                          format: float
                        lowerCI:
                          type: string
                          format: float
          x-responseSchema: http://www.w3.org/ns/anno.jsonld
          x-JSONLDContext: http://www.w3.org/ns/anno.jsonld
      x-accessRestriction: none
  /RORDateCodes:
    get:
      tags:
      - reportingOddsRatio
      summary: Uses drug and outcome codes in RxNorm and SNOMEDCT respectively and
        start and end dates to search AEOLUS and return the ROR, 95% confidence intervals
        and case count within the specified date range.
      description: Returns the Reporting Odds Ratio (ROR) for the drug/outcome coded
        query as well as the lower and upper 95% confidence intervals and the case
        count.Calculations are made following [Gavali, D. K., Kulkarni, K. S., Kumar,
        A. & Chakraborty, B. S. Therapeutic class-specific signal detection of bradycardia
        associated with propranolol hydrochloride. Indian Journal of Pharmacology
        41, 162–166 (2009).](http://www.ijp-online.com/text.asp?2009/41/4/162/56068)
      operationId: rorDateCodes
      parameters:
      - name: drugCode
        in: query
        description: RxNorm drug code for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://purl.bioontology.org/ontology/RXNORM/
      - name: outcomeCode
        in: query
        description: SNOMEDCT outcome code for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://identifiers.org/snomedct
      - name: startDate
        in: query
        description: YYYYMMDD
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - date
      - name: endDate
        in: query
        description: YYYYMMDD
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - date
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    pprStatistics:
                      type: object
                      properties:
                        ror:
                          type: string
                          format: float
                        casecount:
                          type: integer
                        upperCI:
                          type: string
                          format: float
                        lowerCI:
                          type: string
                          format: float
          x-responseSchema: http://www.w3.org/ns/anno.jsonld
          x-JSONLDContext: http://www.w3.org/ns/anno.jsonld
      x-accessRestriction: none
  /RORDateNames:
    get:
      tags:
      - reportingOddsRatio
      summary: Uses drug and outcome names in RxNorm and SNOMEDCT respectively and
        start and end dates to search AEOLUS and return the ROR, 95% confidence intervals
        and case count within the specified date range.
      description: Returns the Reporting Odds Ratio (ROR) for the drug/outcome named
        query as well as the lower and upper 95% confidence intervals and the case
        count.Calculations are made following [Gavali, D. K., Kulkarni, K. S., Kumar,
        A. & Chakraborty, B. S. Therapeutic class-specific signal detection of bradycardia
        associated with propranolol hydrochloride. Indian Journal of Pharmacology
        41, 162–166 (2009).](http://www.ijp-online.com/text.asp?2009/41/4/162/56068)
      operationId: rorDateNames
      parameters:
      - name: drugName
        in: query
        description: RxNorm drug name for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://purl.bioontology.org/ontology/RXNORM/
      - name: outcomeName
        in: query
        description: SNOMEDCT outcome name for search
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - http://identifiers.org/snomedct
      - name: startDate
        in: query
        description: YYYYMMDD
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - date
      - name: endDate
        in: query
        description: YYYYMMDD
        required: true
        style: form
        explode: true
        schema:
          type: string
        x-parameterType: InputParameter
        x-valueType:
        - date
      responses:
        200:
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  properties:
                    pprStatistics:
                      type: object
                      properties:
                        ror:
                          type: string
                          format: float
                        casecount:
                          type: integer
                        upperCI:
                          type: string
                          format: float
                        lowerCI:
                          type: string
                          format: float
          x-responseSchema: http://www.w3.org/ns/anno.jsonld
          x-JSONLDContext: http://www.w3.org/ns/anno.jsonld
      x-accessRestriction: none
components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
    Tag:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
x-externalResources:
- x-url: http://ec2-54-186-230-27.us-west-2.compute.amazonaws.com:8080/swagger-ui.html
  x-type: api documentation
- x-url: https://doi.org/10.1038/sdata.2016.26
  x-type: publication
  x-description: A curated and standardized adverse drug event resource to accelerate
    drug safety research
- x-url: https://twitter.com/drjmbanda
  x-type: social media
